{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand" href="/">Travel & Gossip</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/traveling">Les voyages <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new">Ajouter un voyage</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/newCategory">Ajouter une catégorie de voyage</a>
                </li>   
        </div>
</nav>
<img src="https://www.rsatravelinsurance.com/sites/rsatravelinsurance.com/files/cuba.jpg" width = 1550px height =500px  ></img>


<section class="articles">

        <div class = "row">

        {% for article in articles %}
            
            <div class="jumbotron">
            <h1 class="display-3"> {{article.Destination}} </h1>
            <p class="lead">{{article.Titre}}</p>
            <hr class="my-4">
            <p>{{article.category.name | raw}}</p>
            <p>{{article.Resume}}</p>
            <p>{{article.dateTime}}</p>
            <p class="lead">
            <a class="btn btn-secondary btn-lg" href="{{path('edit', {'article': article , 'id': article.id}) }}" role="button">Modifier</a>
            <a class="btn btn-secondary btn-lg" href="{{path('deleteTravel', {'id': article.id}) }}" role="button">Supprimer</a>
            </p>
            </div>
                  
        {% endfor %} 

            
        
        </div>

</section>


{% endblock %}